@import "custom";

.site-title {
}

.table-icons {
  width: 1.6rem;
  height: auto;
  transition: ease-in 0.15s all;
}

.add-car-btn {
  transition: ease-in 0.15s all;
}

.remove-icon {
  &:hover,
  &:focus {
    fill: $danger;
  }
}

.edit-icon {
  &:hover,
  &:focus {
    fill: $info;
  }
}

.add-car-btn {
  &:hover,
  &:focus {
    color: $primary;
    .add-icon {
      fill: $primary;
    }
  }
}
